@include breakpoint(desktop) {
    .dropdown-menu.show {
        border-top: none;
        .nav-item {
            position: relative;
            .nav-link {
                color: black;
                font-size: 15px;
                font-family: $crimson;
                background-color: #fdffef;
                min-width: 200px;
                padding: 0.4rem;
                svg {
                    position: absolute;
                    right: 0.4rem;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:hover,
                &:focus {
                    background-color: $hover;
                    .sub {
                        z-index: 1000;
                        display: block;
                        visibility: visible;
                        position: absolute;
                        left: 100%;
                        top: 0;
                    }
                }
            }
        }
        li.dropdown-li {
            position: relative;
            a.dropdown-item {
                color: black;
                font-size: 15px;
                font-family: $crimson;
                background-color: #fdffef;
                min-width: 200px;
                padding: 0.4rem;
                svg {
                    position: absolute;
                    right: 0.4rem;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:hover,
                &:focus {
                    background-color: $hover;
                }
            }
        }
        .sub {
            @include transition(0.4s linear all);
            background-color: #fdffef;
            display: none;
            visibility: hidden;
            outline: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 0.25rem;
            .nav-link {
                &:hover,
                &:focus {
                    background-color: $hover;
                    .last {
                        z-index: 1000;
                        display: block;
                        visibility: visible;
                        position: absolute;
                        left: 100%;
                        top: 0;
                    }
                }
            }
            .last {
                background-color: #fdffef;
                display: none;
                visibility: hidden;
                outline: 1px solid rgba(0, 0, 0, 0.15);
                border-radius: 0.25rem;
                @include transition(0.4s linear all);
            }
        }
    }
}
